<launch>

		<arg name="robot" default="-1" doc="Whether launchfile is run on turtlebot(1-5) directly (0), in simulation (-1) or on remote PC (X: 1-5)"/>
	
		<!-- Fake Encoders Node - USE FOR TESTING WHEN TURTLEBOT UNAVAILABLE -->
		<node name="fake_diff_encoders_node" pkg="rigid2d" type="fake_diff_encoders_node" output="screen">
			<rosparam command="load" file="$(find rigid2d)/config/odometer.yaml"/>
			<remap from="turtle1/cmd_vel" to="cmd_vel" />
		</node>

		<!-- Turtle Interface -->
		<node pkg="nuturtle_robot" type="turtle_interface" name="turtle_interface" output="screen">
			<!-- <rosparam command="load" file="$(find rigid2d)/config/odometer.yaml"/> -->
			<param name="right_wheel_joint" value="right_wheel_axle" />
			<param name="left_wheel_joint" value="left_wheel_axle" />
			<remap from="wheel_cmd" to="/nuturtlebot/WheelCommands"/>
			<remap from="sensor_data" to="/nuturtlebot/SensorData"/>
		</node>

		<!-- MPPI Node -->
		<node pkg="control" type="mppi" name="mppi" output="screen">
			<rosparam command="load" file="$(find nuturtle_description)/config/diff_params.yaml" />
		</node>

		<!-- Odometer Node -->
		<node name="odometer_node" pkg="rigid2d" type="odometer_node" output="screen">
			<!-- <rosparam command="load" file="$(find rigid2d)/config/odometer.yaml"/> -->
			<param name="odom_frame_id" value="odom" />
			<param name="body_frame_id" value="base_footprint" /> 
			<param name="right_wheel_joint" value="left_wheel_axle" />
			<param name="left_wheel_joint" value="left_wheel_axle" />
		</node>

	<arg name="parallel" default="False" doc="True: Parallel Park | False: Follow Waypoints"/>
	<group if="$(arg parallel)">
		<!-- Load Parallel Park -->
		<rosparam command="load" file="$(find control)/config/parallel.yaml" />
	</group>

	<group unless="$(arg parallel)">
		<!-- Load Waypoints -->
		<rosparam command="load" file="$(find control)/config/waypoints.yaml" />
	</group>



	<!-- Include diff drive viewer without joint state publisher -->
	<include file="$(find nuturtle_description)/launch/view_diff_drive.launch">
	<arg name="js_pub" value="False" />
	<arg name="robot" value="$(arg robot)"/>
	<arg name="rviz_view" value="$(find nuturtle_description)/rviz/ddrive_odom.rviz"/>
	</include> 

</launch>